
.photo-albums-frame-setting-page-group {
	margin:0 0 0 10%;
}

.photo-albums-frame-setting-album-list {
	max-height:640px;
	overflow: auto;
	border-top: 1px solid #ddd;
}

.photo-albums-album-list-operation,
.photo-albums-photo-list-operation {
	margin: 8px 0;
}

.__photo-albums-jacket {
	min-height: 480px;
	margin: 0 0 4px 0;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.__photo-albums-jacket1 {
	min-height: 200px;
	max-height: 400px;
	margin: 0 0 4px 0;
}
.photo-albums-caption,
.photo-albums-photo-caption {
	left: 5%;
	right: 5%;
	padding: 0 4px;
	text-align: left
}
.photo-albums-caption {
	background-color: rgba(0, 0, 0, .2);
}
.photo-albums-caption .photo-albums-description,
.photo-albums-photo-caption .photo-albums-description {
	height: 3em;
	overflow: hidden;
}
.photo-albums-caption .label {
	display: inline;
	margin: 0 1px;
}
.__photo-albums-album-list-caption {
	display: inline;
	margin: 0 8px 0 0;
}
.photo-albums-album-information {
	margin: 0 0 48px;
}
/* 下揃えのため */
.photo-albums-album-edit-link {
	position: relative;
	top: 2em;
}

.photo-albums-album-setting-list {
	height:800px;
	overflow-y:scroll;
	border-top: 1px solid #ddd;
}
.photo-albums-album-setting-list .__photo-albums-jacket {
	min-height: 240px;
}
.photo-albums-album-setting-list input[type=checkbox],
.photo-albums-album-setting-list input[type=radio] {
	-webkit-transform: scale(1.6);
	-ms-transform: scale(1.6);
	-o-transform: scale(1.6);
	transform: scale(1.6);
	margin: 4px 4px 0 0;
}

.photo-albums-photo-list {
	margin: 0 0 16px 0;
}
.photo-albums-photo {
	min-height: 240px;
	margin: 0 0 4px 0;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
}
.photo-albums-photo-list .photo-albums-photo {
	background-position: center top;
}
.photo-albums-photo-action-bar {}
.photo-albums-photo-thumbnail {}

.photo-albums-photo-slide .modal-dialog {
	width: 80%;
	height: 90%;
}
.photo-albums-photo-slide .modal-content {
	background-color: rgba(0, 0, 0, .8);
}
.photo-albums-photo-slide .modal-content,
.photo-albums-photo-slide .carousel,
.photo-albums-photo-slide .carousel-inner,
.photo-albums-photo-slide .carousel-inner>.item {
	height: 100%;
}
.photo-albums-photo-slide-close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 8px 8px 0 0;
	font-size: 1.5em;
	color: #fff;
	opacity: .7;
}

.photo-albums-album-list-panel {
	/*
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	box-shadow: none
	*/
}
.photo-albums-album-list-panel .panel-body{
	/*
	padding: 16px 0 8px 0;
	*/
}
.photo-albums-album-list-alert {
	margin: 0 0 8px 0;
}
.photo-albums-album-list-status{}
.photo-albums-album-list-alert .alert {
	padding: 4px 35px 4px 4px;
	min-width: 90%;
	margin: 0;
}
.photo-albums-album-list-alert a {
	margin: 0 8px;
}
.photo-albums-thumbnail {
	/*
	background-color: #e5e5e5;
	width: 152px;
	height: 184px;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
	*/
}
.photo-albums-thumbnail img {
	/*
	max-width:152px;
	max-height:184px;
	*/
}
.photo-albums-album-list-information {}
.photo-albums-album-list-information span{
	margin: 0 8px 0 0;
}
.photo-albums-album-list-panel .photo-albums-description {
	margin: 8px 0 0 0;
	/*
	height: 8em;
	overflow: hidden;
	*/
}

.photo-albums-thumbnail-not-selected {
	height: 184px;
}
.photo-albums-preview-list {
	max-width:560px;
	max-height:304px;
	overflow: auto;
}
.photo-albums-preview-list .photo-albums-thumbnail-not-selected {
	display: table-cell;
	vertical-align: middle;
	height: 184px;
}
.photo-albums-preview-list .photo-albums-preview-photo {
	float: left;
	margin: 4px;
}
.photo-albums-preview-list .thumbnail{
	background-color: #e5e5e5;
	width: 88px;
	height: 64px;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}
.photo-albums-preview-list img {
	/* thumbnailのborder分マイナス */
	max-width: 86px;
	max-height: 62px;
}