
.photo-albums-frame-setting-page-group {
	margin:0 0 0 10%;
}

.photo-albums-frame-setting-album-list {
	max-height:600px;
	overflow: auto;
	border-top: 1px solid #ddd;
}

.photo-albums-photo-action-bar {
}
